<h1>Share your favorite coffee recipe and espresso yourself!</h1>

<%= simple_form_for @recipe do |f| %>
  <%= f.input :title %>
  <%= f.input :ingredients %>
  <%= f.input :espresso_yourself %>
  <%= f.input :author %>
  <%= f.submit "Share!" %>
<% end %>